.menu {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.menu h1{
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a{
  color: inherit;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0%;
  height: 0.3rem;
  background: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
  left: 0%;
}

.close-menu {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
    width: 50%;
    top: 2rem;
    right: 7.5rem;
  }
  
  .menu-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
  
  .menu ul {
    display: flex;
    flex-direction: column;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 1;
    top: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 4rem;
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }
}